
body {
    background-color: #f4f4f4;
    color: #333;

}
header {
    background: #333;
    color: #fff;
    padding: 16px 0;
    text-align: center;
    margin-bottom: 16px;
}
header h1 {
    margin: 0;
    font-size: 35px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 16px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
main h2 {
    margin-bottom: 1rem;
    color: #333;
    font-size: 1.5rem;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 16px 0;
    margin-top: 32px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
